---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

const newToOld = (a: Date, b: Date) => b.getTime() - a.getTime();
posts.sort((a, b) => newToOld(a.data.published, b.data.published));
---

<ul>
  {
    posts.map((post) => {
      return (
        <li>
          <a href={`/post/${post.slug}`}>
            {post.slug}, {post.data.published}
          </a>
        </li>
      );
    })
  }
</ul>
