---
import { getCollection } from "astro:content";

import Thread from "@components/Thread.astro";
import RootLayout from "@layouts/RootLayout.astro";

const posts = await getCollection("posts");

const newToOld = (a: Date, b: Date) => b.getTime() - a.getTime();
posts.sort((a, b) => newToOld(a.data.published, b.data.published));
---

<RootLayout>
  <h1>all posts</h1>
  {posts.map((post) => <Thread post={post} />)}
</RootLayout>
