---
import { getCollection } from "astro:content";

import Thread from "@components/Thread.astro";
import RootLayout from "@layouts/RootLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  const newToOld = (a: Date, b: Date) => b.getTime() - a.getTime();
  posts.sort((a, b) => newToOld(a.data.published, b.data.published));

  const tags = posts.flatMap((post) => post.data.tags || []);

  return tags.map((tag) => ({
    params: { tag },
    props: {
      tag,
      posts: posts.filter((post) => {
        if (!post.data.tags) return false;

        return post.data.tags.includes(tag);
      }),
    },
  }));
}

const { tag, posts } = Astro.props;
---

<RootLayout>
  <h1>posts tagged #{tag}</h1>
  {posts.map((post) => <Thread post={post} />)}
</RootLayout>
