<div id="map"></div>

<script>
  import L from "leaflet";

  import "leaflet/dist/leaflet.css";

  // vaguely all of australia
  const map = L.map("map").fitBounds([
    [-8.9668, 115.9417],
    [-43.901, 150.4128],
  ]);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  const response = await fetch("/exchanges/exchanges.json");
  const exchanges = (await response.json()) as {
    geometry: { x: number; y: number };
  }[];

  for (const exchange of exchanges) {
    L.marker([exchange.geometry.y, exchange.geometry.x]).addTo(map);
  }
</script>

<style>
  html,
  body,
  #map {
    width: 100%;
    height: 100%;
    margin: 0;
  }
</style>
