---
import RootLayout from "@/layouts/RootLayout.astro";
---

<script>
  import Feature from "ol/Feature";
  import Map from "ol/Map";
  import View from "ol/View";
  import Point from "ol/geom/Point";
  import Circle from "ol/style/Circle";
  import TileLayer from "ol/layer/Tile";
  import VectorLayer from "ol/layer/Vector";
  import VectorSource from "ol/source/Vector";
  import XYZ from "ol/source/XYZ";
  import Style from "ol/style/Style";
  import Fill from "ol/style/Fill";

  const osm = new TileLayer({
    source: new XYZ({
      url: "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
    }),
  });

  const exchanges = new VectorLayer({
    style: new Style({
      image: new Circle({
        fill: new Fill({ color: "red" }),
        radius: 10,
      }),
    }),
    source: new VectorSource({
      features: [
        new Feature({
          geometry: new Point([0, 0]),
        }),
      ],
    }),
  });

  new Map({
    target: "map",
    layers: [osm, exchanges],
    view: new View({
      center: [0, 0],
      zoom: 2,
    }),
  });
</script>

<RootLayout>
  <div id="map"></div>
</RootLayout>

<style>
  #map {
    width: 100%;
    height: 20rem;
  }
</style>
