---
import { getCollection } from "astro:content";

// sort with newest first
const posts = (await getCollection("posts")).toSorted((a, b) =>
  a.data.published > b.data.published ? -1 : 1
);
---

<ul>
  {
    posts.map((post) => {
      return (
        <li>
          <a href={`/post/${post.slug}`}>
            {post.slug}, {post.data.published}
          </a>
        </li>
      );
    })
  }
</ul>
