.label {
  font-size: 0.8rem;
  color: #ddd;
}

.input {
  width: 100%;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background: #555;
}

.input::placeholder {
  color: #ddd;
}
