---
import "modern-normalize/modern-normalize.css";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@bark</title>
  </head>
  <body>
    <slot />
  </body>
</html>
